{% extends "base.html" %}
{% block title %}SFTP{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='treeview/js/bootstrap-treeview.js') }}"></script>
<script src="{{ url_for('static', filename='fontawesome-all.js') }}"></script>
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">SFTP</h1>
    </div>
</div>
<div class="container-fluid">
    <div id="tree"></div>
</div>
<div class="row">
    <div class="col-sm">
        <div class="card bg-info text-white mt-5">
            <div class="card-header">Загрузить файл.</div>
            <div class="card-body">
                <div class="row" id="upload-div">
                    <form class="form-horizontal reservation_form" id="uploadForm" name="uploadForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="FilePath">Выберете файлы</label>
                            <input type="file" class="form-control-file" id="FilePath" name="FilePath" multiple>
                        </div>
                        <div class="form-group">
                            <label for="StorePath">Путь к директории. Пример: /folder/ </label>
                            <label for="StorePath">Путь должен с обоих сторон заканчиваться слешами.</label>
                            <input class="form-control" id="StorePath" name="StorePath" placeholder="Укажите путь к файлу в хранилище" value="/in/">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card bg-info text-white mt-5">
            <div class="card-header">Комманды.</div>
            <div id="messenger"></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm"><label>Без возможности удаления</label></div>
                    <div class="col-sm"><button type="button" class="btn btn-primary" onclick="actionRepo('/api/v1/repo/upload')">Отправить</button></div>
                    <div class="col-sm"><button type="button" class="btn btn-primary" onclick="actionRepo('/api/v1/repo/download')">Получить</button></div>
                </div>
                <div class="row">
                    <div class="col-sm"><label>С возможностью удаления</label></div>
                    <div class="col-sm"><button type="button" class="btn btn-warning" onclick="actionRepo('/api/v1/repo/modify')">Отправить</button></div>
                    <div class="col-sm"><button type="button" class="btn btn-warning" onclick="actionRepo('/api/v1/repo/clean')">Получить</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        function actionRepo(url) {
            $.ajax({
                url:url,
                type:'post',
                success:function(result){
                    var node = document.createElement("div");
                    if (!result['error_status']) {
                        node.className = "alert alert-success";
                        var textnode = document.createTextNode("Синхронизация прошла успешно.");
                    } else {
                        node.className = "alert alert-danger";
                        var textnode = document.createTextNode("Синхронизация не удалась.");
                    }
                    node.appendChild(textnode);
                    document.getElementById("messenger").appendChild(node);
                    setTimeout(function(){
                        var myNode = document.getElementById("messenger");
                        while (myNode.firstChild) {
                            myNode.removeChild(myNode.firstChild);
                        }
                    }, 5000);
                }
            });
        }

        function sendRepo() {
            $.ajax({
                url:'/api/v1/repo/upload',
                type:'post',
                success:function(result){
                    var node = document.createElement("div");
                    if (!result['error_status']) {
                        node.className = "alert alert-success";
                        var textnode = document.createTextNode("Синхронизация прошла успешно.");
                    } else {
                        node.className = "alert alert-danger";
                        var textnode = document.createTextNode("Синхронизация не удалась.");
                    }
                    node.appendChild(textnode);
                    document.getElementById("messenger").appendChild(node);
                    setTimeout(function(){
                        var myNode = document.getElementById("messenger");
                        while (myNode.firstChild) {
                            myNode.removeChild(myNode.firstChild);
                        }
                    }, 5000);
                }
            });
        }

        function modifyRepo() {
            $.ajax({
                url:'/api/v1/repo/modify',
                type:'post',
                success:function(result){
                    var node = document.createElement("div");
                    if (!result['error_status']) {
                        node.className = "alert alert-success";
                        var textnode = document.createTextNode("Синхронизация прошла успешно.");
                    } else {
                        node.className = "alert alert-danger";
                        var textnode = document.createTextNode("Синхронизация не удалась.");
                    }
                    node.appendChild(textnode);
                    document.getElementById("messenger").appendChild(node);
                    setTimeout(function(){
                        var myNode = document.getElementById("messenger");
                        while (myNode.firstChild) {
                            myNode.removeChild(myNode.firstChild);
                        }
                    }, 5000);
                }
            });
        }

        function DeleteItem(self) {
            $.ajax({
                url:all_urls[event.srcElement.id],
                type:'delete',
                success:function(result){
                    getTree();
                }
            });
        }

        var all_urls = new Array();
        function addDelete() {
            var all_nodes = document.querySelectorAll('[data-nodeid]');
            for (var i in all_nodes) if (all_nodes.hasOwnProperty(i)) {
                var node = document.createElement("button");
                var node_text = document.createTextNode("Удалить");
                all_urls['delete' + i] = all_nodes[i].getElementsByTagName('a')[0].href;
                node.className = "btn btn-warning";
                node.style.float = "right";
                node.id = 'delete' + i;
                node.appendChild(node_text);
                node.onclick = function() { DeleteItem(node); };
                all_nodes[i].appendChild(node);
            }
        }

        function getRepo() {
            $.ajax({
                url:'/api/v1/repo/download',
                type:'post',
                success:function(result){
                    var node = document.createElement("div");
                    if (!result['error_status']) {
                        node.className = "alert alert-success";
                        var textnode = document.createTextNode("Синхронизация прошла успешно.");
                    } else {
                        node.className = "alert alert-danger";
                        var textnode = document.createTextNode("Синхронизация не удалась.");
                    }
                    node.appendChild(textnode);
                    document.getElementById("messenger").appendChild(node);
                    setTimeout(function(){
                        var myNode = document.getElementById("messenger");
                        while (myNode.firstChild) {
                            myNode.removeChild(myNode.firstChild);
                        }
                    }, 5000);
                }
            });
        }

        function getTree() {
            $.ajax({
                url:'/api/v1/local',
                type:'get',
                success:function(result){
                     $('#tree').treeview({data: JSON.stringify(result), enableLinks: true, levels: 10,});
                     addDelete();
                }
            });
        }

        $('#uploadForm').submit(function(e){
            $.ajax({
                url:'/api/v1/upload',
                type:'POST',
                data:$('#uploadForm').serialize(),
                success:function(result){
                    var fileList = document.getElementById('FilePath');
                    if (fileList.files.length){
                        for (var i = 0, f; f = fileList.files[i]; i++) {
                            upload(f, document.getElementById('StorePath').value);
                        }
                    }
                }
            });
            e.preventDefault();
        });

        function upload(file, dir) {
          var xhr = new XMLHttpRequest();

          xhr.upload.onprogress = function(event) {
          }

          xhr.onload = xhr.onerror = function() {
            if (this.status == 200) {
            } else {
            }
          };

          xhr.open("POST", "/api/v1/files" + dir + file.name, true);
          xhr.send(file);

        }

        getTree();
        setInterval(getTree, 5000);
</script>
{% endblock %}