include my_package/flasks/output_accounting/static/*
include my_package/flasks/output_accounting/templates/*

include my_package/flasks/output_accounting/static/*
include my_package/flasks/sftp_service/templates/*